{% extends "_base.html" %}
{% block body %}
  <h2 style="margin-bottom: 1rem;">
    {{'New book' if 'add' in form_action else 'Edit book'}}
  </h2>
  <form action="{{form_action}}" method="post" class="book-form">
    {{ form.hidden_tag() }}
    {{ form.title.label }} {{ form.title }}
    {{ form.author.label }} {{ form.author }}
    {{ form.genres.label }} {{ form.genres }}
    {{ form.submit }}
  </form>
{% endblock %}

{% block style %}
<style>
  form.book-form input {
    display: block;
    width: 100%;
  }

  #genres {
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #genres li {
    display: flex;
  }

  #genres li label {
    width: 10rem;
    font-style: italic;
  }

  #genres input {
    accent-color: var(--color-accent);
    width: auto;
  }

  #genres input:focus {
    outline: solid 2px var(--color-accent);
  }
</style>
{% endblock %}
