<div class="review-summary-wrapper">

  {% include "/components/star-rating.html" %}

  <h3>
    <span>{{review.book.title}}</span>
    <span>by {{review.book.author}}</span>
  </h3>

  <p style="margin-bottom: 0.5rem; font-style: italic;">
    {{review.headline}}
  </p>

  <div style="display: flex; align-items: center; margin-top: auto;">
    <div style="border-bottom: solid 2px #4f4f4f; flex: 1;"></div>
    <a href="/review/{{review.id}}" style="display: block; margin-left: 1rem;">Read review</a>
  </div>
</div>

<style>
  .review-summary-wrapper {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: solid 2px #868686;
    background-color: #3b3b3b;
    border-radius: 4px;
  }
</style>